@model WebApplication7.UserResponses

@{
    ViewBag.Title = "User Response Details";
}

<h2>User Response Details</h2>

<div>
    <h4>User Response ID:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.UserResponseId)</dt>
        <dd>@Html.DisplayFor(model => model.UserResponseId)</dd>
    </dl>

    <h4>User ID:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.UserId)</dt>
        <dd>@Html.DisplayFor(model => model.UserId)</dd>
    </dl>

    <h4>Question ID:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.QuestionId)</dt>
        <dd>@Html.DisplayFor(model => model.QuestionId)</dd>
    </dl>

    <h4>Answer ID:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.AnswerId)</dt>
        <dd>@Html.DisplayFor(model => model.AnswerId)</dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", "UserResponses", new { id = Model.UserResponseId }, null) |
    @Html.ActionLink("Back to List", "Index")
</p>
